<div class="container">
  <div class="inp">
    <input type="text" placeholder="Add Text" [(ngModel)]="newTodo" />
    <button (click)="addText()">Push</button>
  </div>
  <div class="counter">
    <h2>{{ counter }}</h2>
  </div>
  <div class="box">
    <ul>
      <li *ngFor="let item of todos; let i = index">
        <p>{{ item }}</p>
        <a (click)="remove(i)"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/860/860778.png"
            alt=""
        /></a>
      </li>
    </ul>
  </div>
</div>
